secrets.py
secrets.pyc
.DS_Store

# exclude everything
downloaded_videos/*

# exception to the rule
!downloaded_videos/.gitkeep

crawler/__pycache__/*
__pycache__/*
crawler/crawler/settings.py
crawler/crawler/celery.py
