Django==2.0.3
kombu==4.2.0
google_auth_oauthlib==0.2.0
ffmpy==0.2.2
h5py==2.7.1
numpy==1.14.2
opencv_python==3.4.1.15
torch==0.3.1
youtube_dl==2018.3.20
jsonpickle==0.9.6
Pillow==5.2.0
google_api_python_client==1.7.4
protobuf==3.6.0
django_celery_results
django_celery_beat
pyscopg2
oauth2client

redis[celery]
